{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h3>팔로워 : {{ followers.count }}명</h3>
        {% for follower in followers %}
            <p>▶{{ follower.user.username }}</p>      
        {% endfor %}

    <h3>팔로잉 : {{followings.count }}명</h3>
        {% for following in followings %}
            <p>▶{{ following.user.username }}</p>
        {% endfor %}


    <h3 style="font-style: italic;">작성한 글</h3>
    {% for post in posts %}
    <div class="col-md-4 col-12" style="border-style: solid;">
        {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
        {% endif %}

    <div class="comment-section border-top">
        {{ post.content }}
            <form action="{% url 'posts:create_comment' post.id %}" method="POST" style="margin-top: 50px;" class="create-comment-form">
                {% csrf_token %}

    <div class="row">
        <div class="col" style="margin-left:15px; margin-top: 5px;">
            <span>
                <a href="{% url 'posts:post_like' post.id %}" style="color: red;">
                    {% if user in post.like_user_set.all %}
                    <i class="fas fa-heart" style="font-size: 30px;"></i>
                    {% else %}
                    <i class="far fa-heart" style="font-size: 30px;"></i>
                    {% endif %}
                </a>
            </span>

            <span style="vertical-align: super;">{{ post.like_count }}명이 좋아합니다.</span>
                <div class="follow-btn">
                    {% if user != post.user %}
                        {% if user.profile in post.user.profile.followers.all %}
                            <a href="{% url 'users:follow_toggle' post.user.id %}" class="btn btn-primary">팔로잉</a>
                        {% else %}
                            <a href="{% url 'users:follow_toggle' post.user.id %}" class="btn btn-outline-primary">팔로우</a>
                        {% endif %}
                    {% endif %}
                </div>
        </div>
    </div>

    <div class="card-body">
        <div class="form-group">
            <textarea class="form-control" name="content" placeholder="댓글 달기..." required></textarea>
        </div>
        
        <span>
            <button type="submit" class="btn btn-primary comment-submit-button">작성</button>
                {% if user == post.user %}
                    <a href="{% url 'posts:delete' post.pk %}" class="btn btn-primary" style="margin-left: 15px;">삭제</a>
                    <a href="{% url 'posts:update' post.pk %}" class="btn btn-primary">수정</a>
                {% endif %}
        </span>
                {% if post.comments %}
                    <ul class="list-group" id="comments-list-{{ post.pk }}" style="margin-top: 40px;">
                        {% for comment in post.comments.all %}
                            {% include 'comments/_comment.html' with comment=comment user=user %}
                        {% endfor %}
                    </ul>
                {% endif %}
    </div>
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}